.containerCreateBooks {
  width: 90%;
  height: 100px;
  margin: 80px auto;
  padding: 20px 0;
}

form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
}

.input {
  width: 20%;
  height: 40px;
}

.addBook {
  width: 20%;
  height: 40px;
  background-color: aqua;
}

.select {
  width: 35%;
  height: 45px;
  margin-top: 20px;
}
