body {
  background-color: #fafafa;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: white;
}

#nav-item {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

#nav-item li:not(:last-child) {
  margin-right: 1rem;
}

#nav-item a {
  text-decoration: none;
  color: black;
}

.logo {
  color: #0290ff;
}

.homePageDiv {
  margin: 2rem;
}

.bookListDiv > ul {
  padding: 0;
}

.individualBookLiItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87.5rem;
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
}

.individualBookLiItem:hover {
  background-color: #e8e8e8;
}

.delete {
  width: 5rem;
  height: 2rem;
}

.title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.addBook {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
}

form {
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  width: 100%;
}

input {
  padding: 1rem;
  margin: 1rem;
  width: 25%;
}
